.container {
  display: grid;
  grid-template-columns: 0.6fr 2.5fr;
  padding-top: 1em;
  margin-bottom: 2em;
  grid-template-areas:
    "pi rf"
    "pi tx"
    "nm tx"
    "dt tx"
    "im im";
  border-bottom: 1px solid #3385d9;
}

.profileImg {
  grid-area: pi;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  grid-area: nm;
  color: #3385d9;
  font-weight: 600;
  align-self: center;
}

.date {
  grid-area: dt;
  color: #3385d9;
  align-self: center;
}

.text {
  grid-area: tx;
  align-self: start;
  justify-self: center;
  border-radius: 25px;
  border: 1px solid #3385d9;
  box-shadow: 1px 1px 1px #999;
}

.commentIcons {
  grid-area: rf;
  align-self: start;
  justify-self: end;
  display: flex;
}

.reportFlag {
  height: 1.5em;
  fill: lightgray;
}

.reportFlagFilled {
  height: 1.5em;
  fill: red;
}

.reportFlag:hover {
  cursor: pointer;
  fill: red;
}

.editPencil {
  height: 1.5em;
  fill: lightgray;
}

.editPencil:hover {
  cursor: pointer;
  fill: #3385d9;
}

.imageList {
  grid-area: im;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.imageComment {
  max-height: 10em;
  max-width: 10em;
}

.imageChat {
  max-height: 5em;
  max-width: 5em;
  margin-left: 2em;
  margin-right: 2em;
}
