.mainContainer {
  display: grid;
  width: 50rem;
  grid-template-rows: auto 0.25fr;
  row-gap: 2rem;
  grid-template-areas:
    "nc"
    "rf"
    "cl"
    "bc";
}

.newComment {
  grid-area: nc;
}

.refresh {
  grid-area: rf;
  height: 3rem;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  border-radius: 50%;
}

.refresh:hover {
  box-shadow: 0 0 8px #719ece;
}

.commentList {
  grid-area: cl;
  padding: 0;
  list-style: none;
}

.buttonContainer {
  grid-area: bc;
  align-self: center;
  justify-self: center;
}
