.mainContainer {
  display: grid;
  width: 50em;
  grid-template-areas: "sc";
}

.mainContainerConversation {
  display: grid;
  grid-template-areas: "sc";
}

.spinner {
  grid-area: sc;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 50;
}

.subContainer {
  grid-area: sc;
  display: grid;
  width: 50em;
  grid-template-rows: auto 0.25fr;
  row-gap: 2em;
  grid-template-areas:
    "nc"
    "rf"
    "cl"
    "bc";
}

.subContainerConversation {
  grid-area: sc;
  justify-self: center;
  margin-top: 5em;
  width: 50em;
  display: grid;
  grid-template-rows: auto 0.25fr;
  row-gap: 2em;
  grid-template-areas:
    "bc"
    "cl"
    "rf"
    "nc";
}

.newComment {
  grid-area: nc;
}

.refresh {
  grid-area: rf;
  height: 3em;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  border-radius: 50%;
}

.refresh:hover {
  box-shadow: 0 0 8px #719ece;
}

.commentList {
  grid-area: cl;
  padding: 0;
  list-style: none;
}

.buttonContainer {
  grid-area: bc;
  align-self: center;
  justify-self: center;
}

@media all and (max-width: 60em) {
  .subContainerConversation {
    width: 65em;
  }
}

@media all and (max-width: 40em) {
  .subContainerConversation {
    width: 45em;
  }
}
