.container {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    ". tt . ht"
    ". rc . ht";
}

.title {
  grid-area: tt;
  align-self: center;
  justify-self: start;
  color: #e6513e;   
  font-weight: 600;
  font-size: 1.5rem;
}

.requestContainer {
  grid-area: rc;
  align-self: center;
  display: grid;
  grid-template-columns: 0.5fr 0.2fr 0.5fr;
  grid-template-areas: "ty . cd";
}

.type {
  grid-area: ty;
  color: #3385D9;   
  font-weight: 600;
}

.creationDate {
  grid-area: cd;
  font-size: .8rem;
}

.helpType {
  grid-area: ht;
  height: 3.5rem;
  align-self: center;
  justify-self: center;
}
