.mainContainer {
  padding-top: 2em;
  display: grid;
  grid-template-rows: 0.25fr auto;
  grid-auto-columns: 0.4fr auto 0.4fr;
  row-gap: 1em;
  grid-template-areas: ". tt ." ". mc .";
}

.title {
  grid-area: tt;
  align-self: center;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 2em;
}

.title img {
  padding-right: 1em;
  height: 1.5em;
}

.spinner {
  grid-area: mc;
  background-color: white;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.completeDiv {
  grid-area: mc;
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: 0.5fr auto;
  grid-template-areas:
    "tl"
    "lg";
  row-gap: 3em;
  z-index: 5;
}

.completeTitle {
  grid-area: tl;
  padding-top: 1rem;
  justify-self: center;
  align-self: end;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
}

.completeImg {
  height: 10em;
  grid-area: lg;
  justify-self: center;
  align-self: start;
}

.subContainer {
  grid-area: mc;
  display: grid;
  grid-template-rows: auto;
  row-gap: 3em;
  grid-template-areas: "mp" "ic" "hc" "cc";
}

.mapContent {
  grid-area: mp;
  align-self: center;
}

.helpersContainer {
  grid-area: hc;
  align-self: center;
  justify-self: center;
}

.participantsButton {
  width: 15em;
  height: 2.5em;
  border-radius: 25px;
  font-weight: 600;
  background-color: #3385d9;
  color: white;
  border: 1px solid #3385d9;
}

.participantsButton:hover {
  background-color: transparent;
  color: #3385d9;
  border: 1px solid #3385d9;
}

.commentContent {
  grid-area: cc;
  align-self: center;
  justify-self: center;
}

.infoContent {
  grid-area: ic;
  display: grid;
  row-gap: 1em;
  grid-template-rows: 0.25fr 0.25fr auto auto 1fr 0.4fr 0.15fr 0.15fr;
  grid-template-areas: "ht" "ud" "pd" "dp" "id" "sa" "er" "dr";
}

.helpTitle {
  grid-area: ht;
  border-bottom: 1px solid #b9e1ff;
}

.userDisplay {
  grid-area: ud;
  border-bottom: 1px solid #b9e1ff;
}

.pathDetails {
  grid-area: pd;
  border-bottom: 1px solid #b9e1ff;
}

.description {
  grid-area: dp;
  border-bottom: 1px solid #b9e1ff;
  text-align: center;
  font-size: 0.9em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.imageDisplay {
  grid-area: id;
  border-bottom: 1px solid #b9e1ff;
}

.subTitle {
  color: #e6513e;
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 1.5em;
}

.startAction {
  grid-area: sa;
  width: 12.5em;
  height: 2.5em;
  border-radius: 25px;
  font-weight: 600;
  background-color: #3385d9;
  color: white;
  border: 1px solid #3385d9;
  align-self: center;
  justify-self: center;
}

.startAction:hover {
  background-color: transparent;
  color: #3385d9;
  border: 1px solid #3385d9;
}

.passForm {
  grid-area: sa;
  justify-self: center;
  display: grid;
  row-gap: 1em;
  grid-template-areas: "lp" "ip" "bt" "ep";
  border-bottom: 1px solid #3385d9;
  padding-bottom: 1em;
}

.labelPass {
  grid-area: lp;
  justify-self: end;
  padding-right: 1em;
  color: #3385d9;
  align-self: center;
  justify-self: center;
}

.inputPass {
  grid-area: ip;
  width: 20em;
  justify-self: end;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15em;
  padding: 0.3em;
  align-self: center;
  justify-self: center;
}

.inputPass:focus,
.inputPass:active {
  outline: none;
}

.inputPass:disabled {
  cursor: not-allowed;
}

.errorPass {
  grid-area: ep;
  align-self: center;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 0.8em;
}

.reactivate {
  grid-area: bt;
  width: 12.5em;
  height: 2.5em;
  border-radius: 25px;
  font-weight: 600;
  background-color: transparent;
  color: #3385d9;
  border: 1px solid #3385d9;
  align-self: center;
  justify-self: center;
}

.reactivate:hover {
  background-color: #3385d9;
  color: white;
  border: 1px solid #3385d9;
}

.reactivate:disabled {
  cursor: not-allowed;
}

.reactivate:hover:disabled {
  background-color: transparent;
  color: #3385d9;
  border: 1px solid #3385d9;
  cursor: not-allowed;
}

.editRequest {
  grid-area: er;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #3385d9;
  font-weight: 600;
}

.editRequest:hover {
  text-decoration: none;
  color: #3385d9;
  font-weight: 800;
}

.deleteRequest {
  grid-area: dr;
  align-self: center;
  justify-self: center;
  color: #c0392b;
  cursor: pointer;
  font-weight: 600;
}

.deleteRequest:hover {
  font-weight: 800;
}

.deleteError {
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  padding-top: 0.5em;
  width: 5em;
  font-size: 1em;
}

@media all and (max-width: 60em) {
  .mapContainer {
    width: 65em;
    justify-self: center;
  }

  .infoContent {
    font-size: 0.8em;
  }
}

@media all and (max-width: 40em) {
  .mapContainer {
    width: 45em;
    justify-self: center;
    margin-left: 0;
  }

  .infoContent {
    font-size: 0.8em;
  }
}
