.mainContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.25fr auto;
  grid-auto-columns: 0.4fr auto 0.4fr;
  row-gap: 1em;
  grid-template-areas: ". tt ." ". mc .";
}

.title {
  padding-top: 2em;
  grid-area: tt;
  align-self: center;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 2em;
}

.title img {
  padding-right: 1em;
  height: 1.5em;
}

.spinner {
  grid-area: mc;
  background-color: white;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.subContainer {
  grid-area: mc;
  display: grid;
  grid-template-rows: auto;
  row-gap: 3em;
  grid-template-areas: "mp" "ic" "cc";
}

.mapContent {
  grid-area: mp;
  align-self: center;
}

.commentContent {
  grid-area: cc;
  align-self: center;
  justify-self: center;
}

.infoContent {
  grid-area: ic;
  display: grid;
  row-gap: 1em;
  grid-template-rows: 0.25fr 0.25fr auto 0.5fr auto auto 0.25fr 0.25fr;
  grid-template-areas: "ht" "ud" "pd" "dp" "id" "ip" "bd" "er" "dr";
}

.helpTitle {
  grid-area: ht;
  border-bottom: 1px solid #b9e1ff;
}

.userDisplay {
  grid-area: ud;
  border-bottom: 1px solid #b9e1ff;
}

.pathDetails {
  grid-area: pd;
  border-bottom: 1px solid #b9e1ff;
}

.description {
  grid-auto-columns: dp;
  border-bottom: 1px solid #b9e1ff;
  text-align: center;
  font-size: 0.9em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.imageDisplay {
  grid-area: id;
  border-bottom: 1px solid #b9e1ff;
}

.subTitle {
  color: #e6513e;
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 1.5em;
}

.inputPass {
  grid-area: ip;
  border-bottom: 1px solid #b9e1ff;
}

.passText {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-weight: 600;
  color: #3385d9;
}

.buttonDisplay {
  grid-area: bd;
  align-self: center;
  justify-self: center;
}

.participating {
  color: #e6513e;
  font-weight: 400;
  padding-top: 1em;
}

.participating:hover {
  font-weight: 700;
  cursor: pointer;
}

.editRequest {
  grid-area: er;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #3385d9;
  font-weight: 600;
}

.editRequest:hover {
  text-decoration: none;
  color: #3385d9;
  font-weight: 700;
}

.deleteRequest {
  grid-area: dr;
  align-self: center;
  justify-self: center;
  color: #c0392b;
  cursor: pointer;
  font-weight: 600;
}

.deleteRequest:hover {
  font-weight: 700;
}

.deleteError {
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  padding-top: 0.5em;
  width: 5em;
  font-size: 1em;
}

.giveUpButton {
  width: 15em;
  height: 2.5em;
  background-color: transparent;
  color: #e6513e;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #e6513e;
}

.giveUpButton:hover {
  background-color: #e6513e;
  color: white;
  border: 1px solid #e6513e;
}

@media all and (max-width: 60em) {
  .mapContainer {
    width: 65em;
    justify-self: center;
  }

  .infoContent {
    font-size: 0.8em;
  }
}

@media all and (max-width: 40em) {
  .mapContainer {
    width: 45em;
    justify-self: center;
    margin-left: 0;
  }

  .infoContent {
    font-size: 0.8em;
  }
}
