.container {
  display: grid;
  grid-template-areas: "il";
}

.imageList {
  grid-area: il;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3rem;
}

.imageItem {
}

.imgPreview {
  height: 15rem;
  object-fit: cover;
}

.volunteer {
  height: 25rem;
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
}