.container {
  display: grid;
  width: 80em;
  grid-template-areas: "il";
}

.imageList {
  grid-area: il;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3em;
}

.emptyImageList {
  grid-area: il;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0.3em;
}

.imgText {
  text-align: center;
  margin-left: 8em;
  color: #3385d9;
  font-weight: 600;
}

.imgPreview {
  padding-top: 1em;
  max-height: 15em;
  max-width: 30em;
  object-fit: contain;
}

.volunteer {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  margin-left: 8em;
}
