.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.25fr 1fr;
  row-gap: 1rem;
  grid-template-areas: "tt" "pc";
}

.title {
  grid-area: tt;
  align-self: center;
  justify-self: center;
  color: #3385d9;
  font-weight: 600;
}

.spinner {
  grid-area: pc;
  background-color: white;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.passContainer {
  grid-area: pc;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr auto;
  row-gap: 0.8rem;
  grid-template-areas:
    "lp ip ."
    "lt it ."
    "rt st bt"
    "ep ep ."
    "et et .";
  align-items: center;
}

.labelPass {
  grid-area: lp;
  justify-self: end;
  padding-right: 1rem;
  color: #3385d9;
}

.inputPass {
  grid-area: ip;
  width: 20rem;
  justify-self: end;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.inputPass:focus,
.inputPass:active {
  outline: none;
}

.inputPass:disabled {
  cursor: not-allowed;
}

.errorPass {
  grid-area: ep;
  align-self: center;
  justify-self: end;
  color: #e6513e;
  font-weight: 600;
  font-size: 0.8rem;
}

.errorTime {
  grid-area: et;
  align-self: center;
  justify-self: end;
  color: #e6513e;
  font-weight: 600;
  font-size: 0.8rem;
}

.buttonPass {
  grid-area: bt;
  width: 8rem;
  justify-self: start;
  margin-left: 1rem;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #3385d9;
  color: #3385d9;
  font-weight: 600;
}

.buttonPass:hover {
  background-color: #3385d9;
  box-shadow: 0 0 10px #719ece;
  color: white;
}

.buttonPass:disabled {
  cursor: not-allowed;
}

.buttonPass:disabled:hover {
  border: 1px solid #3385d9;
  color: #3385d9;
  background-color: transparent;
  box-shadow: none;
}

.labelTime {
  grid-area: lt;
  padding-right: 1rem;
  color: #3385d9;
  align-self: center;
  justify-self: end;
}

.inputTime {
  grid-area: it;
  width: 20rem;
  justify-self: end;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.inputTime:focus,
.inputTime:active {
  outline: none;
}

.inputTime:disabled {
  cursor: not-allowed;
}

.rating {
  grid-area: rt;
  align-self: center;
  justify-self: end;
  padding-right: 1rem;
  color: #3385d9;
}

.starRating {
  grid-area: st;
  align-self: end;
  justify-self: center;
}

.starRating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.starRating .on {
  color: rgb(255, 187, 0);
}

.starRating .off {
  color: #ccc;
}
