.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  grid-template-areas: "tt" "pc" "ep";
}

.title {
  grid-area: tt;
  align-self: center;
  justify-self: center;
}

.errorPass {
  grid-area: ep;
  align-self: center;
  justify-self: center;
}

.passContainer {
  grid-area: pc;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-areas: "lp ip bt";
  align-items: center;
}

.labelPass {
  grid-area: lp;
  justify-self: end;
}

.inputPass {
  grid-area: ip;
  width: 20rem;
  justify-self: end;
}

.buttonPass {
  grid-area: bt;
  width: 10rem;
  justify-self: start;
}
