.container {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.9fr 2.6fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: ". pi sc ." ". pi nh .";
}

.profileImg {
  grid-area: pi;
  align-self: center;
  justify-self: start;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.nameContainer {
  grid-area: sc;
  align-self: center;
  justify-self: start;
  font-weight: 600;
  color: #3385d9;
}

.numHelps {
  grid-area: nh;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: row;
}

.numHelps img {
  height: 3rem;
  padding-bottom: 1rem;
}
