.container {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 1.5fr 2.0fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: ". pi sc ." ". pi nh .";
}

.profileImg {
  grid-area: pi;
  align-self: center;
  justify-self: start;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.profileImgAnonimous {
  grid-area: pi;
  align-self: center;
  justify-self: start;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  object-fit: cover;
}

.verified {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  font-size: .8em;
}

.verifiedIcon {
  object-fit: cover;
  height: 3.5em;
  width: 3.5em;
}

.nameContainer {
  grid-area: sc;
  align-self: center;
  justify-self: start;
  font-weight: 600;
  color: #3385d9;
}

.numHelps {
  grid-area: nh;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: row;
  color: #3385d9;
  font-weight: 600;
}

.numHelps img {
  height: 3em;
  padding-bottom: 1em;
  padding-right: 0.5em;
}
