.navPage {
  grid-area: np;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.mainTitle-wrapper {
  text-align: center;
  color: #e6513e;
  font-size: 2em;
  font-weight: 600;
  padding-top: 2em;
  padding-bottom: 2em;
}

.pageNumber {
  color: #3385d9;
  padding: 1em;
  padding-top: 1.5em;
  font-size: 1.1em;
}

.navArrow {
  height: 5em;
  padding: 1em;
  cursor: pointer;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.flex-wrapper .item-wrapper {
  width: 250px;
  border: 1px solid #ff9f36;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 2vh auto;
}
.flex-wrapper .item-wrapper .card-content-flex {
  display: flex;
}

.flex-wrapper .item-wrapper .card-content-flex .flex-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
.flex-wrapper .item-wrapper .card-content-flex .flex-content .title {
  width: 80%;
  font-weight: bold;
}

.flex-wrapper .item-wrapper .card-content-flex .flex-content .text {
  width: 80%;
}
.flex-wrapper .item-wrapper .card-content-flex .image-flex-wrapper {
  width: 75px;
  height: 75px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
