.heroiForm {
  display: grid;
  grid-template-rows: 1fr 3fr auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "tt tt tt"
    ". hi ."
    ". sc .";
}

.heroiTitle {
  grid-area: tt;
  color: #e6513e;
  font-weight: 700;
  font-size: 2rem;
  justify-self: center;
}

.heroiInstructions {
  grid-area: hi;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #3385d9;
  font-weight: 600;
  align-self: center;
  justify-self: center;
}

.spinner {
  grid-area: sc;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 5;
}

.subContainer {
  grid-area: sc;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: 0.25fr 0.25fr 0.25fr;
  grid-template-areas:
    "at iu"
    "hp iu"
    "bt .";
}

.subContainer label {
  font-weight: 700;
  color: #3385d9;
}

.subContainer input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3385d9;
  box-shadow: 1px 1px 1px #999;
}

.subContainer input:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.imageUploadDiv {
  grid-area: iu;
  align-self: center;
  justify-self: center;
}

.actionTitle {
  align-self: end;
  grid-area: at;
  display: flex;
  flex-direction: column;
}

.help {
  align-self: start;
  grid-area: hp;
  display: flex;
  flex-direction: column;
}

.help textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #3385d9;
  box-shadow: 1px 1px 1px #999;
}

.help textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.buttonContainer {
  justify-self: center;
  grid-area: bt;
}

.formError {
  color: #e6513e;
  font-weight: 600;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  width: 15rem;
  margin: 0;
}
