.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr;
  row-gap: 2rem;
  grid-template-areas:
    "mt"
    "qc"
    "lc";
  justify-items: center;
  align-items: center;
}

.mainTitle {
  grid-area: mt;
  color: #e6513e;
  font-weight: 700;
  font-size: 2rem;
}

.questionContainer {
  grid-area: qc;
}

.linkContacts {
  grid-area: lc;
}
