.mainContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "lf";
}

.spinnerContainer {
  grid-area: lf;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.passForm {
  grid-area: lf;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.formTitle {
  padding-top: 1rem;
  text-align: center;
  color: #e6513e;
  font-weight: 600;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.formError {
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  width: 15rem;
}

.formInputDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "lo"
    "io"
    "."
    "lp"
    "ip"
    "."
    "lc"
    "ic"
    ".";
}

.formInputDiv input:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.formLabelOldPassword {
  grid-area: lo;
  align-self: end;
  justify-self: start;
  color: rgb(51, 133, 217);
  font-weight: 700;
  padding-left: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.formInputOldPassword {
  grid-area: io;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 1px 2px 2px rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.formInputOldPassword:focus {
  outline: none;
}

.formLabelPassword {
  align-self: end;
  grid-area: lp;
  justify-self: start;
  color: #3385d9;
  font-weight: 700;
  padding-left: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.formInputPassword {
  grid-area: ip;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.formInputPassword:focus {
  outline: none;
}

.formLabelConfirmation {
    align-self: end;
    grid-area: lc;
    justify-self: start;
    color: #3385d9;
    font-weight: 700;
    padding-left: 1rem;
    font-family: inherit;
    font-size: inherit;
  }
  
  .formInputConfirmation {
    grid-area: ic;
    align-self: start;
    justify-self: start;
    border: 1px solid #3385d9;
    box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
    border-radius: 10px;
    width: 15rem;
    padding: 0.3rem;
  }
  
  .formInputConfirmation:focus {
    outline: none;
  }