.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.15fr auto;
  grid-template-areas:
    " . ci"
    "af af";
}

.closeIcon {
  height: 2.5em;
  cursor: pointer;
  grid-area: ci;
  justify-self: end;
  align-self: center;
  padding-right: 1em;
}

.spinner {
  grid-area: af;
  justify-self: center;
  align-self: center;
}

.passForm {
  grid-area: af;
}