.mainContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "mn";
}

.spinner {
  grid-area: mn;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 5;
}

.profileContainer {
  grid-area: mn;
  background-image: url("../../img/togetherapart.jpg");
  height: 100%;
  background-size: 23vw auto;
  background-position: 35.5vw bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.2fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.5fr;
  row-gap: 1em;
  grid-template-areas:
    "tt tt tt tt"
    ". fc . iu"
    ". fc . pl";
  align-items: start;
}

.title {
  grid-area: tt;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
}


.imageDiv {
  grid-area: iu;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-self: start;
  text-align: center;
  font-weight: 600;
  color: #3385d9;
  margin-left: 2em;
}

.verified {
  height: 3em;
  width: 4em;
  padding-right: 1em;
}

.passLink {
  margin-left: 4em;
  grid-area: pl;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  padding-left: 2.5em;
}

.keyIcon {
  height: 4em;
  cursor: pointer;
  margin-left: 1.5em;
  margin-bottom: 3em;
}

.deleteButton {
  margin-top: 5em;
  color: #c0392b;
  cursor: pointer;
  padding-left: 0.5em;
  font-weight: 600;
}

.deleteButton:hover {
  text-decoration: underline;
}

.deleteError {
  color: #e6513e;
  padding-left: 1.5em;
  font-weight: 400;
  text-align: center;
  padding-top: 0.5em;
  width: 5em;
  font-size: 1em;
}

.formContainer {
  grid-area: fc;
  padding-top: 3em;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  row-gap: 1.5em;
  column-gap: 3em;
  grid-template-areas:
    ". ed pv"
    ". fn ln"
    "it it it"
    "bt bt bt"
    "ie ie ie";
  align-items: start;
}

.formContainer input[type="text"] {
  border: 1px solid #3385d9;
  box-shadow: 1px 2px 2px rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15em;
  padding: 0.3em;
  justify-items: center;
}

.formContainer label,
.changePass {
  color: #3385d9;
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
}

.radioLabel input {
  margin-right: 0.2em;
}

.juntos {
  font-weight: 700;
  color: #ff9f36;
}

.emailDiv {
  grid-area: ed;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.firstNameDiv {
  grid-area: fn;
  display: flex;
  flex-direction: column;
}

.lastNameDiv {
  grid-area: ln;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.privacyDiv {
  grid-area: pv;
  display: flex;
  justify-self: start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.interestDiv {
  grid-area: it;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.subTitle {
  text-align: center;
  padding-top: 1rem;
  color: #e6513e;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.interestList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  padding-left: 0;
}

.interestList label {
  padding-left: 0.2em;
}

.interestDiv input:focus {
  box-shadow: none;
}

.buttonContainer {
  grid-area: bt;
  justify-self: center;
}

.invalidError {
  grid-area: ie;
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  padding-top: 0.5em;
  width: 15em;
  font-size: 1em;
  justify-self: center;
}

.logo {
  height: 2.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.profileContainer input:focus {
  outline: none;
}

input:disabled {
  cursor: not-allowed;
}

@media all and (max-width: 60em) {
  .profileContainer {
    margin-top: 4em;
    grid-area: mn;
    background-image: url("../../img/togetherapart.jpg");
    height: 100%;
    width: 100%;
    background-size: 27vw auto;
    background-position: 33.5vw bottom;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 0.1fr;
    row-gap: 1em;
    grid-template-areas:
      "tt"
      "iu"
      "fc"
      "pl";
  }

  .imageDiv {
    align-self: center;
    justify-self: center;
  }

  .formContainer {
    justify-self: center;
    margin-right: 18em;
    grid-area: fc;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: repeat(6, 0.5fr);
    row-gap: 2.5em;
    column-gap: 3em;
    grid-template-areas:
      ". un ."
      ". ed pv"
      ". fn ln"
      "it it it"
      "bt bt bt"
      "ie ie ie";
    align-items: start;
  }

  .interestDiv {
    margin-left: 18em;
  }

  .buttonContainer {
    padding-left: 18em;
  }

  .passLink {
    justify-self: center;
    align-self: start;
  }
}

@media all and (max-width: 60em) {
  .profileContainer {
    margin-top: 4em;
    grid-area: mn;
    background-image: url("../../img/togetherapart.jpg");
    height: 100%;
    width: 100%;
    background-size: 20vw auto;
    background-position: 39vw 110vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 0.1fr;
    row-gap: 1em;
    grid-template-areas:
      "tt"
      "iu"
      "fc"
      "pl";
  }

  .imageDiv {
    align-self: center;
    justify-self: center;
  }

  .formContainer {
    justify-self: center;
    margin-right: 12em;
    grid-area: fc;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: repeat(6, 0.5fr);
    row-gap: 2.5em;
    column-gap: 3em;
    grid-template-areas:
      ". un ."
      ". ed pv"
      ". fn ln"
      "it it it"
      "bt bt bt"
      "ie ie ie";
    align-items: start;
  }

  .interestDiv {
    margin-left: 12em;
  }

  .buttonContainer {
    padding-left: 12em;
  }

  .passLink {
    padding-right: 4em;
    justify-self: center;
    align-self: start;
  }
}

@media all and (max-width: 40em) {
  .profileContainer {
    margin-top: 4em;
    grid-area: mn;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 0.1fr;
    row-gap: 1em;
    grid-template-areas:
      "tt"
      "iu"
      "fc"
      "pl";
  }
}

@media all and (max-width: 40em) and (orientation: landscape) {
  .profileContainer {
    margin-top: 4em;
    grid-area: mn;
    background-image: url("../../img/togetherapart.jpg");
    height: 100%;
    width: 100%;
    background-size: 40vw auto;
    background-position: 28vw 70vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 0.1fr;
    row-gap: 1em;
    grid-template-areas:
      "tt"
      "iu"
      "fc"
      "pl";
  }
}