.mainContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "mf";
}

.spinner {
  grid-area: mf;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 5;
}

.profileContainer {
  grid-area: mf;
  display: grid;
  grid-template-rows: 0.25fr auto;
  row-gap: 3em;
  grid-template-areas: "tt" "id";
}

.title {
  grid-area: tt;
  align-self: start;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
}

.imageDiv {
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  color: #3385d9;
  font-size: 1.2em;
}

.profileImg {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2em;
}

.verified {
  height: 3em;
  width: 4em;
  padding-right: 1em;
}

.logo {
  height: 3em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.juntos {
  font-weight: 700;
  color: #ff9f36;
}
