.mainContainer {
  display: grid;
  row-gap: 4em;
  grid-template-areas:
    "tt"
    "ig"
    "sc";
}

.title {
  grid-area: tt;
  padding-top: 2em;
  align-self: center;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 2em;
}

.juntosImg {
  grid-area: ig;
  height: 20em;
  align-self: center;
  justify-self: center;
}

.spinner {
  grid-area: sc;
  background-color: white;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.subContainer {
  grid-area: sc;
  display: grid;
  row-gap: 1em;
  grid-template-areas: "pc" "cc" "bd";
  align-self: center;
  justify-self: center;
}

.passContainer {
  grid-area: pc;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.confirmationContainer {
  grid-area: cc;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  grid-area: bd;
  align-self: center;
  justify-self: center;
}

.subContainer input[type="password"] {
  border: 1px solid #3385d9;
  box-shadow: 1px 2px 2px rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15em;
  padding: 0.3em;
}

.subContainer input:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.subContainer label {
  color: rgb(51, 133, 217);
  font-weight: 700;
  padding-left: 0.3em;
  font-family: inherit;
  font-size: inherit;
}

.passError {
  width: 18em;
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  padding-top: 0.5em;
  font-size: 0.8em;
}
