.mainContainer {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 5rem auto 10rem;
  grid-template-areas:
    "hd hd"
    "mc mc"
    "ft ft";
}

.mainNav {
  z-index: 100;
  grid-area: hd;
}

.mainBody {
  grid-area: mc;
}

.sideBar {
  position: fixed;
}

.mainFooter {
  grid-area: ft;
}
