.mainContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 5rem 1fr auto;
  grid-template-areas:
    "hd hd"
    "mc mc"
    "ft ft";
}

.mainNav {
  z-index: 100;
  grid-area: hd;
}

.mainBody {
  grid-area: mc;
}

.sideBar {
  position: fixed;
}

.mainFooter {
  grid-area: ft;
}

.backOfficeSideBar {
  position: fixed;
  right: 0;
  margin-right: 10rem;
}
