.mainContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.25fr auto;
  row-gap: 2em;
  grid-template-areas: "tt" "mf";
}

.title {
  padding-top: 2em;
  grid-area: tt;
  align-self: start;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
}

.spinner {
  grid-area: mf;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.subContainer {
  grid-area: mf;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-areas:
    "sb"
    "mp";
}

.sideButtons {
  grid-area: sb;
  align-self: center;
  justify-self: center;
}

.map {
  grid-area: mp;
  height: 50em;
  width: 70em;
  align-self: center;
  justify-self: center;
}

@media all and (max-width: 60em) {
  .mainContainer {
    padding-top: 2em;
  }

  .sideButtons {
    font-size: 1.5em;
  }
  
  .subContainer {
    font-size: .8em;
  }
}
