.mainImageDiv {
  background-image: url("../../img/sourcegif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 55%;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  grid-area: im;
  align-self: center;
  justify-self: center;
}

.hDiv {
  color: white;
  z-index: 10;
  padding-top: 8%;
  text-align: center;
}

.hFirst {
  font-weight: 700;
  padding-bottom: 8em;
}

.hSecond {
  font-weight: 700;
}

.juntosTitle {
  color: #ff9f36;
  font-weight: 800;
}

.mainContent {
  width: 100%;
  grid-area: ct;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  color: #3385d9;
}

.juntos {
  color: #ff9f36;
  font-weight: 700;
}

.mainVideo {
  grid-area: vd;
  align-self: center;
  justify-self: center;
}

.navLinkHidden {
  display: none;
}

@media (min-width: 60em) {
  .containerDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "im"
      "ct"
      "vd";
  }
}

@media all and (max-width: 60em) {
  .containerDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "im"
      "ct"
      "vd";
  }

  .mainImageDiv {
    padding-top: 5em;
  }
}

@media all and (max-width: 40em) {
  .containerDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "im"
      "ct"
      "vd";
  }

  .mainImageDiv {
    padding-top: 5em;
  }

  .navLinkHidden,
  .navLinkHidden:hover {
    text-decoration: none;
    color: #ff9f36;
  }

  .navLinkHidden {
    padding-left: 15em;
    font-weight: 600;
    position: fixed;
    z-index: 10000;
    display: block;
    color: #ff9f36;
  }
}
