.webPage-wrapper{
    min-height: 78vh;
}
.webPage-wrapper .table-header{
    background-color: black;
    color: white;
}
.webPage-wrapper .table-header >*>*{
    background-color: black;
    color: white;
}
