.back-office-app-wrapper{
    width: 70% ;
    margin: 10vh auto;
    margin-top: 20vh;
}

.back-office-app-wrapper >*{

    z-index: -1000;
}
.text{
    color: #3385d9;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}
.downText{
    color: #3385d9;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}