.back-office-table-wrapper{
    width: 85% ;
    margin: 2vh auto;
}

.back-office-table-wrapper .table-header-footer{
    background-color: #ff9f36;
}

.back-office-table-wrapper .table-header-footer >*{
    color: white;
}