.mainContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: "mf";
}

.formContainer {
  grid-area: mf;
}

.maps {
  grid-area: mf;
  align-self: start;
  justify-self: center;
  display: grid;
  grid-template-areas: "mp" "cb";
}

.map {
  grid-area: mp;
  display: flex;
  width: 70em;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.completeButtons {
  grid-area: cb;
  justify-self: center;
  align-self: end;
}

.title {
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.back {
  padding-bottom: 0.5em;
  height: 5em;
  cursor: pointer;
}

.number {
  border-radius: 50%;
  background-color: #3385d9;
  color: white;
  margin: 1em;
  margin-top: 1.8em;
  height: 1.5em;
  padding-top: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.selectedTitle {
  align-self: center;
}

.spinner {
  grid-area: mf;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.buttonContainer {
  margin-left: 2em;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "bk nx";
  align-items: center;
}

.back {
  grid-area: bk;
  justify-self: end;
  padding-top: 1.5em;
  height: 5em;
  cursor: pointer;
}

.nextButton {
  grid-area: nx;
  justify-self: start;
}

@media all and (max-width: 60em) {
  .map {
    grid-area: mp;
    display: flex;
    width: 60em;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
}

@media all and (max-width: 40em) {
  .map {
    grid-area: mp;
    display: flex;
    width: 40em;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
}
