.container {
  height: 15em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 0.5fr auto;
  row-gap: 0.5em;
  grid-template-areas:
    "it"
    "ib"
    "il";
}

.containerSmall {
  height: 10em;
  width: 50em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 0.5fr auto;
  row-gap: 0.5em;
  grid-template-areas:
    "it"
    "ib"
    "il";
}

.addImageText {
  grid-area: it;
  justify-self: center;
  align-self: start;
  color: #3385d9;
  font-weight: 600;
}

.addText {
  grid-area: it;
  justify-self: center;
  align-self: start;
  color: #3385d9;
  font-weight: 600;
  font-size: 0.9em;
}

.addImageTextInactive {
  display: none;
}

.imageList {
  grid-area: il;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3em;
}

.imgPreview {
  padding-top: 1em;
  max-height: 15em;
  max-width: 30em;
  object-fit: contain;
  cursor: pointer;
}

.imgPreviewSmall {
  padding-top: 1em;
  max-height: 8em;
  max-width: 8em;
  object-fit: contain;
  cursor: pointer;
}

.imageButton {
  grid-area: ib;
  align-self: center;
  justify-self: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../img/add.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 5;
}

.imageButton:hover {
  box-shadow: 0 0 10px #719ece;
}

.imageButton:disabled {
  display: none;
}

.imageButton:focus {
  outline: none;
}

.smallButton {
  grid-area: ib;
  align-self: center;
  justify-self: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../img/add.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 5;
}

.smallButton:hover {
  box-shadow: 0 0 10px #719ece;
}

.smallButton:disabled {
  display: none;
}

.smallButton:focus {
  outline: none;
}

.imageInput {
  display: none;
}

.initialButton {
  grid-area: il;
  align-self: center;
  justify-self: center;
  width: 10em;
  height: 10em;
  border-radius: 5px;
  border: 1px solid #3385d9;
  background-color: transparent;
  background-size: 5em;
}