.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
  row-gap: 1em;
  grid-template-areas:
    "tt tt tt"
    ". hp ."
    ". rt ."
    ". dt ."
    ". at ."
    ". . .";
    align-items: center;
}

.title {
    padding-top: 2em;
    padding-bottom: 2em;
    grid-area: tt;
    align-self: center;
    justify-self: center;
    color: #e6513e;
    font-weight: 600;
    font-size: 2em;
}

.number {
    border-radius: 50%;
    background-color: #3385D9;
    color: white;
    margin: 1em;
    padding-left: .4em;
    padding-right: .4em;
}

.help {
    grid-area: hp;
    align-self: center;
    justify-self: center;
}

.request {
    grid-area: rt;
    align-self: center;
    justify-self: center;
}

.donate {
    grid-area: dt;
    align-self: center;
    justify-self: center;
}

.action {
    grid-area: at;
    align-self: center;
    justify-self: center;
}