.mainContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.25fr auto;
  row-gap: 1fr;
  grid-template-areas: "tt" "mf";
}

.requestLink {
  text-decoration: none;
  color: black;
}

.requestLink:hover,
.requestLink:focus,
.requestLink:active,
.requestLink:visited,
.requestLink:link {
  text-decoration: none;
  color: black;
}

.title {
  grid-area: tt;
  align-self: start;
  justify-self: center;
  color: #e6513e;
  font-weight: 600;
  font-size: 2em;
}

.spinner {
  grid-area: mf;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.subContainer {
  grid-area: mf;
  display: grid;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-columns: 1.25fr 1fr 0.4fr 0.8fr;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-areas:
    "ob sb fb sc"
    "rc rc rc rc"
    ". np ps .";
}

.orderButtons {
  grid-area: ob;
  align-self: center;
  justify-self: end;
}

.filterButtons {
  grid-area: fb;
  align-self: center;
  justify-self: start;
}

.sideButtons {
  grid-area: sb;
  align-self: center;
  justify-self: center;
}

.searchBar {
  grid-area: sc;
  align-self: center;
  justify-self: start;
}

.searchBarHidden {
  display: none;
}

.autoComplete {
  grid-area: sc;
  align-self: center;
  justify-self: start;
}

.autoCompleteHidden {
  display: none;
}

.requestContainer {
  grid-area: rc;
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.requestContainer ul {
  width: 60em;
  padding-left: 0;
  list-style: none;
}

.emptyRequests {
  height: 25em;
}

.emptyRequestsText {
  font-weight: 700;
  color: #3385d9;
  text-align: center;
  padding-top: 0.5em;
}

.navPage {
  grid-area: np;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.pageNumber {
  color: #3385d9;
  padding: 1em;
  padding-top: 1.5em;
  font-size: 1.1em;
}

.sizeButtons {
  grid-area: ps;
  align-self: center;
  justify-self: start;
}

.navArrow {
  height: 5em;
  padding: 1em;
}

.navArrow:hover {
  cursor: pointer;
}

.filterButtons label {
  font-weight: 700;
  color: #3385d9;
  padding-right: 0.5em;
}

.filterButtons input {
  border-radius: 5px;
  border: 1px solid #3385d9;
}

.filterButtons input:focus {
  outline: none;
}

.orderButtons label {
  font-weight: 700;
  color: #3385d9;
  padding-right: 0.5em;
}

.orderButtons input {
  border-radius: 5px;
  border: 1px solid #3385d9;
}

.orderButtons input:focus {
  outline: none;
}

.sizeButtons label {
  font-weight: 700;
  color: #3385d9;
  padding-right: 0.5em;
}

.sizeButtons input {
  border-radius: 5px;
  border: 1px solid #3385d9;
}

.sizeButtons input:focus {
  outline: none;
}

.selectSub {
  border-radius: 5px;
  border: 1px solid #3385d9;
}

.selectSub:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.subTitle {
  color: #3385d9;
  font-weight: 700;
}

@media all and (min-width: 60em) {
  .mainContainer {
    font-size: 0.95em;
  }
}

@media all and (max-width: 60em) {
  .mainContainer {
    padding-top: 2em;
    font-size: 0.95em;
  }

  .subContainer {
    grid-area: mf;
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr 0.2fr;
    grid-template-areas:
      "sb sb"
      "ob ob"
      "fb sc"
      "rc rc"
      "np ps";
  }

  .orderButtons {
    grid-area: ob;
    align-self: center;
    justify-self: center;
  }

  .filterButtons {
    grid-area: fb;
    align-self: center;
    justify-self: end;
    padding-right: 2em;
  }

  .navPage {
    justify-self: end;
  }

  .sizeButtons {
    padding-bottom: 2em;
  }
}

@media all and (max-width: 40em) {
  .mainContainer {
    padding-top: 2em;
    font-size: 0.95em;
  }

  .subContainer {
    grid-area: mf;
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr .2fr auto 0.2fr .2fr;
    grid-template-areas:
      "sb"
      "ob"
      "fb"
      "sc"
      "rc"
      "np"
      "ps";
  }

  .orderButtons {
    grid-area: ob;
    align-self: center;
    justify-self: center;
  }

  .filterButtons {
    grid-area: fb;
    align-self: center;
    justify-self: center;
  }

  .navPage {
    justify-self: center;
  }

  .sizeButtons {
    justify-self: center;
  }

  .requestContainer {
    padding-left: 8em;

    grid-area: rc;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .requestContainer ul {
    width: 50em;
    padding-left: 0;
    list-style: none;
  }

  .searchBar {
    justify-self: center;
  }

  .autoComplete {
    justify-self: center;
  }
}
