.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 2fr 0.5fr;
  grid-template-areas:
    "lf lf lf"
    "hl hl hl";
}

.spinnerContainer {
  grid-area: lf;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.loginForm {
  grid-area: lf;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.formTitle {
  padding-top: 1rem;
  text-align: center;
  color: #e6513e;
  font-weight: 600;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.formError {
  color: #e6513e;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  width: 15rem;
}

.formInputDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "le"
    "ie"
    "ee"
    "lp"
    "ip"
    "ep";
}

.formInputDiv input:focus {
  outline: none;
  box-shadow: 0 0 10px #719ECE;
}

.formLabelEmail {
  grid-area: le;
  align-self: end;
  justify-self: start;
  color: rgb(51, 133, 217);
  font-weight: 700;
  padding-left: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.formInputEmail {
  grid-area: ie;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 1px 2px 2px rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.formInputEmail:focus {
  outline: none;
}

.emailError {
  grid-area: ee;
}

.formLabelPass {
  align-self: end;
  grid-area: lp;
  justify-self: start;
  color: #3385d9;
  font-weight: 700;
  padding-left: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.formInputPass {
  grid-area: ip;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.formInputPass:focus {
  outline: none;
}

.passError {
  grid-area: ep;
}

.homeLink {
  grid-area: hl;
  justify-self: center;
  align-self: center;
  color: #3385d9;
  font-weight: 600;
}

.homeLink:hover {
  text-decoration: none;
  color: #e6513e;
}
