.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 0.25fr 2fr 0.25fr 0.3fr 0.3fr;
  grid-template-areas:
    ". . ci"
    "lf lf lf"
    ". . ."
    "rr rr rr"
    "hl hl hl";
}

.closeIcon {
  height: 2.5rem;
  cursor: pointer;
  grid-area: ci;
  justify-self: center;
  align-self: center;
}

.loginForm {
  grid-area: lf;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.formTitle {
  text-align: center;
  color: #e6513e;
  font-weight: 600;
  padding-bottom: 1rem;
}

.formError {
  color: #e6513e;
  font-weight: 600;
  text-align: center;
}

.formInputDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "le"
    "ie"
    "."
    "lp"
    "ip"
    ".";
}

.formLabelEmail {
  grid-area: le;
  align-self: end;
  justify-self: start;
  color: rgb(51, 133, 217);
  font-weight: 700;
  padding-left: 1rem;
  font-family:inherit;
  font-size: inherit;
}

.formInputEmail {
  grid-area: ie;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 133, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.formLabelPass {
  align-self: end;
  grid-area: lp;
  justify-self: start;
  color: #3385d9;
  font-weight: 700;
  padding-left: 1rem;
  font-family:inherit;
  font-size: inherit;
}

.formInputPass {
  grid-area: ip;
  align-self: start;
  justify-self: start;
  border: 1px solid #3385d9;
  box-shadow: 0 4px 5px 0 rgba(65, 132, 234, 0.585);
  border-radius: 10px;
  width: 15rem;
  padding: 0.3rem;
}

.registerLink {
  grid-area: rr;
  justify-self: center;
  align-self: center;
  color: #3385d9;
  font-weight: 600;
}

.registerLink:hover {
  text-decoration: none;
  color: #ff9f36;
}

.homeLink {
  grid-area: hl;
  justify-self: center;
  align-self: center;
  color: #3385d9;
  font-weight: 600;
}

.homeLink:hover {
  text-decoration: none;
  color: #ff9f36;
}
