.buttonCustom {
  width: 15em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 1.5em;
  margin-bottom: 0;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  outline: none;
}

.buttonCustom:disabled,
.buttonGradient:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.buttonCustom:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.buttonGradient {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.buttonText {
  font-size: 1.1em;
}