.search {

}

.searchInputs {
    display: flex;
}

.searchInput {
    background-color: transparent;
    border: 1px solid #3385D9;
    border-radius: 25px;
    color: #3385D9;
    padding-left: 1rem;
    font-weight: 600;
}

.searchInput::placeholder {
    color: #9bd4ff;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    height: 2rem;
    background-color: transparent;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.searchIcon img {
    height: 2rem;
}