.searchInput {
  height: 3rem;
  width: 3rem;
  border-style: none;
  padding: 10px;
  font-size: 400;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50%;
  background-color: #3385D9;
  padding-right: 2.2rem;
  color: #fff;
}
.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  font-weight: 400;
}
.searchButton {
  border-style: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.searchButton:focus ~ .searchInput {
  width: 18rem;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.searchInput:focus {
  width: 18rem;
  border-radius: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
