.iconBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*border: 1px solid #3385D9;*/
    background-color: white;
    border-radius: 100px;
    width: 20em;
    height: 6em;
    color:#3385D9;
    font-weight: 700;
    line-height: 1.5em;
    border-color: transparent;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.iconText {
    margin-top: 1em;
}

.iconImage {
    padding: .2em;
    height: 4em;
}

.iconBtn:hover {
    color: white;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.iconBtn:focus {
    outline: none;
}