.container {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1em;
  grid-template-areas: "b1 b2";
  justify-content: start;
}

.btn1 {
  grid-area: b1;
}

.btn2 {
  grid-area: b2;
}

.btn1:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}

.btn2:focus {
  outline: none;
}

.buttonActive {
  background-color: #3385d9;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 15px;
  width: 10em;
}

.buttonDisable {
  background-color: #b9e1ff;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 15px;
  width: 10em;
}
